/* Here we go! Time to stylize my webpage */

h1 {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 36px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14}

main {
  background-color: #FFFFF6
  }

footer {
  background-color: #FFFFFF;
  text-align: center;
  font-family: monospace
}

h2 {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 24px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14}

h3 {font-family: Helvetica, Arial, sans-serif; 
  font-size: 12px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14
}


p {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 14px;
  color: #000000; 
  text-align: justify
}

.image-circle {
  border-radius: 50%
}
