/* Here we go! Time to stylize my webpage */

header, main, footer {
  padding: 30px 30px; 
  margin-left: 30px;
  margin-right: 30px
}

h1 {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 36px;
  min-height: 45px; 
  color: #000000;
  text-align: center;
  padding: 15px 15px 15px 15px; 
  background-color:#ff8a14;
}

/* Main */


main .main-class {
  padding-left: 10px;
  background-color: #FFFFF6;
  }


/* Mobile Firsting Main */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  Margin: 10px;
}

/* Desktopping Main */

@media all and (min-width: 800px) {
  .chunk {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}


/* Footer */


footer {
  background-color: #FFFFFF;
  text-align: center;
  font-family: monospace
}

/* now let's get into other sections */

h2, .intro {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 24px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14}

h3 {font-family: Helvetica, Arial, sans-serif; 
  font-size: 12px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14
}

ul, ol {
  font-family: Helvetica, Arial, sans-serf;
  font-size: 14px; 
  color: #000000;
  text-align: left
}


p {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 14px;
  color: #000000; 
  text-align: left
}


a, .reference {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.actual {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif
}

a:link { color: #ff8a14;}
a:visited { color: #FF14FF;}
a:hover { color: #148AFF;}
a:active { color: beige;}


.image {
  border-radius: 10%;
  display: block;
  margin: 10px;
  width: 100%;
  flex: 1

}

/* Forms */

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ff8a14;
}

form input [type=text] {
   color: #000000; 
   font-size: 14px; 
   margin-type: 10px;
   margin-bottom: 10px;
}
