/* Here we go! Time to stylize my webpage */

header, main, footer {
  padding: 30px 30px; 
  margin-left: 30px;
  margin-right: 30px
}

h1 {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 36px;
  min-height: 45px; 
  color: #000000;
  text-align: center;
  padding: 15px 15px 15px 15px; 
  background-color:#ff8a14;
}


/* I'm going to give the main and footer sections their own style, which I may overwrite with other elements and/or classes */

main {
  background-color: #FFFFF6;
  }

footer {
  background-color: #FFFFFF;
  text-align: center;
  font-family: monospace
}

/* now let's get into other sections */

h2 {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 24px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14}

h3 {font-family: Helvetica, Arial, sans-serif; 
  font-size: 12px;
  color: #000000;
  text-align: center;
  background-color:#ff8a14
}

ul, ol {
  font-family: Helvetica, Arial, sans-serf;
  font-size: 14px; 
  color: #000000;
  text-align: left
}


p {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 14px;
  color: #000000; 
  text-align: left
}

/* let's try the pseudoclass thing with links */

a, .reference {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.actual {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif
}

a:link { color: #ff8a14;}
a:visited { color: #FF14FF;}
a:hover { color: #148AFF;}
a:active { color: beige;}



/* Finally, let's give this class a whirl */

/* I looked up online how to center it, so I 'borrowed' everything after border-radius. :P */

.image-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

